@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Gotham Pro";

  src: local("Gotham Pro Light"), url("../fonts/GothamPro-Light.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-weight: 300;
  font-family: "Gotham Pro";

  src: local("Gotham Pro Light Italic"), url("GothamPro-LightItalic.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gotham Pro";

  src: local("Gotham Pro"), url("../fonts/GothamPro.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Gotham Pro";

  src: local("Gotham Pro Medium"), url("../fonts/GothamPro-Medium.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-weight: 500;
  font-family: "Gotham Pro";

  src: local("GothamPro-MediumItalic"), url("../fonts/GothamPro-MediumItalic.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Gotham Pro";

  src: local("Gotham Pro Bold"), url("../fonts/GothamPro-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gotham Pro Black";

  src: local("Gotham Pro Black"), url("../fonts/GothamPro-Black.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "SFUIDisplay";

  src: local("SFUIDisplay Bold"), url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
}

/* box-sizing: border-box - для всего документа + фикс для наследования */
html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-footer {
  margin-top: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* класс для явного указания модели поведения content-box */
.content-box-component {
  box-sizing: content-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* сниппет для доступного скрытия элементов на странице */
.visually-hidden:not(a),
a.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  display: inline-block;
  height: 70px;
  padding: 18px 46px;

  font-size: 22px;
  line-height: 26px;
  font-family: "Gotham Pro Black", "Arial Black", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 5px solid #ffffff;
  border-radius: 40px;
}

.button:hover {
  color: #ffffff;
  text-decoration: none;
}

.link {
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #e3000b;
  text-decoration: underline;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.link:hover {
  color: #e3000b;
}

.highlighted-text {
  color: #e5111b;
}

/* глобальные свойства для шрифтов */
body {
  font-weight: 400;
  font-family: "Gotham Pro", "Arial", sans-serif;
}

.main-header .header-top {
  min-height: 120px;
}

.main-header .logo {
  width: 271px;
  height: 43px;
}

.main-header .site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header .site-navigation a {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #111111;
}

.main-header .site-navigation a:hover {
  color: #830009;
}

.main-header .call-us,
.main-header .mail-us,
.main-header .cart {
  margin: 0;
  padding-left: 45px;

  font-weight: 700;
  font-size: 12px;
}

.main-header .call-us dd,
.main-header .mail-us dd,
.main-header .cart dd {
  margin: 0;
}

.main-header .request-call-link,
.main-header .write-letter-link,
.main-header .total-price {
  color: #e3000b;
  text-decoration: underline;
}

.main-header .call-us::before,
.main-header .mail-us::before,
.main-header .cart::before {
  content: "";
  position: absolute;

  margin-top: 5px;
  margin-left: -45px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header .call-us::before {
  width: 30px;
  height: 30px;

  background-image: url("../img/phone-call.svg");
}

.header-top .mail-us::before {
  width: 36px;
  height: 30px;

  background-image: url("../img/mail.svg");
}

.header-top .cart::before {
  width: 34px;
  height: 30px;
  margin-top: 0;

  background-image: url("../img/shopping-cart.svg");
}

.promo-slider [class*="slide-"] {
  min-height: 775px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.promo-slider .slide-1 {
  background-image: url("../img/slide-1.jpg");
}

.promo-slider .slide-2 {
  background-image: url("../img/slide-2.jpg");
}

.promo-slider .slide-3 {
  background-image: url("../img/slide-3.jpg");
}

.promo-slider .slide-caption {
  color: #ffffff;
}

.promo-slider h3,
.promo-slider p {
  font-family: "Gotham Pro Black", "Arial Black", sans-serif;
}

.promo-slider h3 {
  margin-bottom: 25px;

  font-size: 90px;
}

.promo-slider p {
  margin-bottom: 50px;

  font-size: 24px;
}

.page-header .header {
  margin-bottom: 120px;

  font-size: 36px;
  font-family: "Gotham Pro Black", "Arial Black", sans-serif;
  text-align: center;
}

.front-page-section {
  padding-top: 80px;
  padding-bottom: 60px;
}

.front-page-section > .container > .row > [class*="col-xxl-"] {
  margin-bottom: 60px;
}

.section-header {
  margin-top: 0;
  margin-bottom: 100px;

  font-size: 43px;
  font-family: "Gotham Pro Black", "Arial Black", sans-serif;
  text-align: center;
}

.our-products .product-category {
  padding-top: 275px;

  background-repeat: no-repeat;
  background-position: top center;
}

.our-products .diaries {
  background-image: url("../img/diaries.svg");
}

.our-products .document-covers {
  background-image: url("../img/document-covers.svg");
}

.our-products .diplomas {
  background-image: url("../img/diplomas.svg");
}

.our-products .bags {
  background-image: url("../img/bags.svg");
}

.product-category .header {
  margin-bottom: 30px;

  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  text-align: center;
}

.product-category .caption {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 22px;
  color: #6e6e6e;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;

  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
     -moz-hyphenate-limit-chars: 6 3 3;
      -ms-hyphenate-limit-chars: 6 3 3;
          hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-last: always;
     -moz-hyphenate-limit-last: always;
      -ms-hyphenate-limit-last: always;
          hyphenate-limit-last: always;
  -webkit-hyphenate-limit-lines: 2;
     -moz-hyphenate-limit-lines: 2;
      -ms-hyphenate-limit-lines: 2;
          hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-zone: 8%;
     -moz-hyphenate-limit-zone: 8%;
      -ms-hyphenate-limit-zone: 8%;
          hyphenate-limit-zone: 8%;
}

.product-category .order-link {
  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

.front-page .market {
  background-color: #f1f1f1;
}

.market .product-card {
  background-color: transparent;
  border: none;
}

.product-card .product-img {
  max-width: 250px;

  border-radius: 50%;
}

.product-card .product-title {
  margin-bottom: 30px;

  font-size: 30px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
}

.product-card .card-body {
  padding: 0;
  padding-left: 50px;
}

.product-card .product-caption {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 24px;
  color: #686868;
}

.product-card .product-price {
  margin-bottom: 15px;

  font-size: 30px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
}

.product-card .add-to-card-link {
  font-size: 28px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

.blog .post-card,
.news .news-card {
  border: none;
}

.post-card .card-body,
.news-card .card-body {
  padding: 0;
  padding-top: 50px;
}

.post-card .post-img,
.news-card .news-img {
  width: 75%;
  max-width: 500px;
}

.post-card .post-title,
.news-card .news-title {
  margin-bottom: 30px;

  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
}

.post-card .post-caption,
.news-card .news-caption {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 22px;
  color: #6e6e6e;
}

.post-card .read-more-link,
.news-card .read-more-link {
  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

.front-page .portfolio {
  background-color: #fcfcfc;
}

.portfolio .portfolio-image {
  position: relative;
}

.portfolio .see-all-link {
  position: absolute;
  right: 80px;
  bottom: 60px;

  color: #d7d7d6;
  text-transform: none;

  border-color: #d7d7d6;
}

.subscribe-form .form-title {
  margin-bottom: 70px;

  font-size: 30px;
  line-height: 50px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  text-transform: uppercase;
}

.subscribe-form .email-input {
  display: block;
  margin-bottom: 70px;
  padding-right: 15px;
  padding-left: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #888888;

  border: none;
}

.subscribe-form .email-input:placeholder-shown {
  color: #888888;
  text-transform: capitalize;
}

.reviews {
  background-color: #fdfdfd;
}

.reviews .section-header {
  margin-bottom: 30px;
}

.reviews-slider .review-card {
  background-color: transparent;
  border: none;
}

.review-card .author-wrapper {
  padding-top: 70px;

  text-align: center;
}

.review-card .review-img {
  max-width: 500px;
  margin-bottom: 50px;

  border-radius: 50%;
}

.review-card .review-author {
  margin-bottom: 0;

  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  text-align: center;
  color: #e3000b;
}

.review-card .card-body {
  padding: 0;
}

.review-card .review-text {
  margin-bottom: 25px;
  padding-right: 50px;
  padding-left: 75px;

  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

.review-card .card-body::before {
  content: "";
  position: relative;

  display: block;
  width: 100px;
  height: 90px;
  margin-bottom: 25px;
  margin-left: auto;

  background-image: url("../img/closing-quote.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.review-card .card-body::after {
  content: "";
  position: relative;

  display: block;
  width: 100px;
  height: 90px;

  background-image: url("../img/opening-quote.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.review-card .leave-feedback-link {
  position: absolute;
  z-index: 1;

  margin-top: 25px;
  margin-left: 75px;

  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

.social .section-header {
  font-weight: 500;
  font-family: inherit;
}

.social > .container > .row > [class*="col-xxl-"] {
  margin-bottom: 0;
}

.social .social-links-wrapper {
  display: flex;
  flex: 1 0 100%;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: -100px;
}

.social .social-link {
  position: relative;

  min-width: 135px;
  margin-bottom: 60px;
  margin-left: 100px;
  padding-top: 170px;

  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #111111;
}

.social .social-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 135px;
  height: 135px;

  background-repeat: no-repeat;
  background-position: center center;
  border: 4px solid #e72a33;
  border-radius: 50%;
}

.social .facebook::before {
  background-image: url("../img/logo-facebook.svg");
}

.social .instagram::before {
  background-image: url("../img/logo-instagram.svg");
}

.social .vkontakte::before {
  background-image: url("../img/logo-vkontakte.svg");
}

.social .telegram::before {
  background-image: url("../img/logo-telegram.svg");
}

.social .youtube::before {
  background-image: url("../img/logo-youtube.svg");
}

.main-footer .footer-bottom {
  background-color: #f6f6f6;
}

.main-footer .footer-links-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 250px;
}

.main-footer .personal-data-link {
  color: #111111;
  text-decoration: none;
}

/* catalog.html */

.main-catalog-page {
  padding-top: 110px;
}

.main-catalog-page .page-header {
  margin-bottom: 150px;
}

.catalog-navigation .dropdown-navigation-btn {
  width: 100%;
  position: relative;

  font-size: 24px;
  line-height: 34px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  text-align: initial;
  color: #ffffff;

  background-color: #e3000b;
  border-radius: 0;
  padding: 12px 70px 12px 15px;
  white-space: nowrap;
}

.catalog-navigation .dropdown-navigation-btn:disabled {
  opacity: 1;
}

.catalog-navigation .dropdown-navigation-btn::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 15px;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-navigation .navigation-menu {
  font-size: 22px;
  line-height: 28px;
  border-radius: 0;
  border: none;
}

.catalog-navigation .menu-item {
  font-weight: 700;
  padding: 20px 60px 10px 20px;
  position: relative;
}

.catalog-navigation .menu-item:not(:first-child) {
  border-top: 1px solid #f3f3f3;
}

.catalog-navigation .menu-item::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-menu-item.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-navigation .menu-item:hover {
  background-color: #f3f3f3;
}

.main-catalog-page .search-form {
  display: flex;
}

.search-form .search-input {
  flex: 1 1 100%;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #787878;
  padding: 16px 30px 16px 75px;
  border: none;
  overflow: hidden;
}

.search-form .search-input:placeholder-shown {
  color: #787878;
}

.main-catalog-page .search-form::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 29px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 15px;
  margin-left: 15px;
}

.search-form .search-button {
  min-width: 200px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding: 12px 15px;
  color: #ffffff;

  background-color: #e3000b;
  border: none;
}

.main-catalog-page .order-link {
  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

.main-catalog-page .product-card {
  background-color: transparent;
  border: none;
}

.main-catalog-page .product-card .product-img {
  max-width: 200px;

  border-radius: 50%;
}

.main-catalog-page .product-card .product-title {
  margin-bottom: 20px;

  font-size: 22px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
}

.main-catalog-page .product-card .card-body {
  padding: 0;
  padding-left: 30px;
}

.main-catalog-page .product-card .product-caption {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 20px;
  color: #686868;
}

.main-catalog-page .product-card .product-price {
  margin-bottom: 15px;

  font-size: 22px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
}

.main-catalog-page .product-card .add-to-card-link,
.main-catalog-page .product-card .view-product-link {
  display: block;
  font-size: 22px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

.main-catalog-page .product-card .add-to-card-link {
  margin-bottom: 15px;
}

.main-catalog-page .product-card-wrapper {
  margin-bottom: 160px;
}
