@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Gotham Pro";

  src: local("Gotham Pro Light"), url("../fonts/GothamPro-Light.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-weight: 300;
  font-family: "Gotham Pro";

  src: local("Gotham Pro Light Italic"), url("GothamPro-LightItalic.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gotham Pro";

  src: local("Gotham Pro"), url("../fonts/GothamPro.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Gotham Pro";

  src: local("Gotham Pro Medium"), url("../fonts/GothamPro-Medium.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-weight: 500;
  font-family: "Gotham Pro";

  src: local("GothamPro-MediumItalic"), url("../fonts/GothamPro-MediumItalic.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Gotham Pro";

  src: local("Gotham Pro Bold"), url("../fonts/GothamPro-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gotham Pro Black";

  src: local("Gotham Pro Black"), url("../fonts/GothamPro-Black.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "SFUIDisplay";

  src: local("SFUIDisplay Bold"), url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  src: local("Roboto Regular"), url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
}

/* all pages */
/* box-sizing: border-box - для всего документа + фикс для наследования */
html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-footer {
  margin-top: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* класс для явного указания модели поведения content-box */
.content-box-component {
  box-sizing: content-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* сниппет для доступного скрытия элементов на странице */
.visually-hidden:not(a),
a.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  display: inline-block;
  padding: 18px 46px;

  font-size: 22px;
  line-height: 28px;
  font-family: "Gotham Pro Black", "Arial Black", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 5px solid #ffffff;
}

.button:hover {
  color: #ffffff;
  text-decoration: none;
}

.link {
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #e3000b;
  text-decoration: underline;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.link:hover {
  color: #e3000b;
}

.highlighted-text {
  color: #e5111b;
}

body {
  font-weight: 400;
  font-family: "Gotham Pro", "Arial", sans-serif;
}

/* header */
.main-header .header-top {
  min-height: 120px;
}

.main-header .logo {
  width: 271px;
  height: 43px;
}

.main-header .site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header .site-navigation a {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #111111;
}

.main-header .site-navigation a:hover {
  color: #830009;
}

.main-header .call-us,
.main-header .mail-us,
.main-header .cart {
  margin: 0;
  padding-left: 45px;

  font-weight: 700;
  font-size: 12px;
}

.main-header .call-us dd,
.main-header .mail-us dd,
.main-header .cart dd {
  margin: 0;
}

.main-header .request-call-link,
.main-header .write-letter-link,
.main-header .total-price {
  color: #e3000b;
  text-decoration: underline;
}

.main-header .call-us::before,
.main-header .mail-us::before,
.main-header .cart::before {
  content: "";
  position: absolute;

  margin-top: 5px;
  margin-left: -45px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header .call-us::before {
  width: 30px;
  height: 30px;

  background-image: url("../img/phone-call.svg");
}

.header-top .mail-us::before {
  width: 36px;
  height: 30px;

  background-image: url("../img/mail.svg");
}

.header-top .cart::before {
  width: 34px;
  height: 30px;
  margin-top: 0;

  background-image: url("../img/shopping-cart.svg");
}
/* header ends */

/* footer */
.social .section-header {
  font-weight: 500;
  font-family: inherit;
}

.social > .container > .row > [class*="col-xxl-"] {
  margin-bottom: 0;
}

.social .social-links-wrapper {
  display: flex;
  flex: 1 0 100%;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: -100px;
}

.social .social-link {
  position: relative;

  min-width: 135px;
  margin-bottom: 60px;
  margin-left: 100px;
  padding-top: 170px;

  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #111111;
}

.social .social-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 135px;
  height: 135px;

  background-repeat: no-repeat;
  background-position: center center;
  border: 4px solid #e72a33;
  border-radius: 50%;
}

.social .facebook::before {
  background-image: url("../img/logo-facebook.svg");
}

.social .instagram::before {
  background-image: url("../img/logo-instagram.svg");
}

.social .vkontakte::before {
  background-image: url("../img/logo-vkontakte.svg");
}

.social .telegram::before {
  background-image: url("../img/logo-telegram.svg");
}

.social .youtube::before {
  background-image: url("../img/logo-youtube.svg");
}

.main-footer .footer-bottom {
  background-color: #f6f6f6;
}

.main-footer .footer-links-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 250px;
}

.main-footer .personal-data-link {
  color: #111111;
  text-decoration: none;
}
/* footer ends */
/* all pages ends */

/* index.html */
.front-page .promo-slider [class*="slide-"] {
  min-height: 775px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.front-page .promo-slider .slide-1 {
  background-image: url("../img/slide-1.jpg");
}

.front-page .promo-slider .slide-2 {
  background-image: url("../img/slide-2.jpg");
}

.front-page .promo-slider .slide-3 {
  background-image: url("../img/slide-3.jpg");
}

.front-page .promo-slider .slide-caption {
  color: #ffffff;
}

.front-page .promo-slider h3,
.front-page .promo-slider p {
  font-family: "Gotham Pro Black", "Arial Black", sans-serif;
}

.front-page .promo-slider h3 {
  margin-bottom: 25px;

  font-size: 90px;
}

.front-page .promo-slider p {
  margin-bottom: 50px;

  font-size: 24px;
}

.page-header .header { /* TODO: общие заголовки для всех страниц? */
  margin-bottom: 110px;

  font-size: 36px;
  font-family: "Gotham Pro Black", "Arial Black", sans-serif;
  text-align: center;
}

.section-header {
  margin-top: 0;
  margin-bottom: 100px;

  font-size: 43px;
  font-family: "Gotham Pro Black", "Arial Black", sans-serif;
  text-align: center;
}

.front-page-section {
  padding-top: 80px;
  padding-bottom: 60px;
}

.front-page-section > .container > .row > [class*="col-xxl-"] { /* TODO: изменить селектор? */
  margin-bottom: 60px;
}

.front-page .our-products .product-category {
  padding-top: 275px;

  background-repeat: no-repeat;
  background-position: top center;
}

.front-page .our-products .diaries {
  background-image: url("../img/diaries.svg");
}

.front-page .our-products .document-covers {
  background-image: url("../img/document-covers.svg");
}

.front-page .our-products .diplomas {
  background-image: url("../img/diplomas.svg");
}

.front-page .our-products .bags {
  background-image: url("../img/bags.svg");
}

.front-page .product-category .header {
  margin-bottom: 30px;

  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  text-align: center;
}

.front-page .product-category .caption {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 22px;
  color: #6e6e6e;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;

  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
     -moz-hyphenate-limit-chars: 6 3 3;
      -ms-hyphenate-limit-chars: 6 3 3;
          hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-last: always;
     -moz-hyphenate-limit-last: always;
      -ms-hyphenate-limit-last: always;
          hyphenate-limit-last: always;
  -webkit-hyphenate-limit-lines: 2;
     -moz-hyphenate-limit-lines: 2;
      -ms-hyphenate-limit-lines: 2;
          hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-zone: 8%;
     -moz-hyphenate-limit-zone: 8%;
      -ms-hyphenate-limit-zone: 8%;
          hyphenate-limit-zone: 8%;
}

.front-page .product-category .order-link {
  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

.front-page .market {
  background-color: #f1f1f1;
}

.front-page .product-card {
  background-color: transparent;
  border: none;
}

.front-page .product-card .product-img {
  max-width: 250px;

  border-radius: 50%;
}

.front-page .product-card .product-title {
  margin-bottom: 30px;

  font-size: 30px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
}

.front-page .product-card .card-body {
  padding: 0;
  padding-left: 50px;
}

.front-page .product-card .product-caption {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 24px;
  color: #686868;
}

.front-page .product-card .product-price {
  margin-bottom: 15px;

  font-size: 30px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
}

.front-page .product-card .add-to-card-link {
  font-size: 28px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

.front-page .blog .post-card,
.front-page .news .news-card {
  border: none;
}

.front-page .post-card .card-body,
.front-page .news-card .card-body {
  padding: 0;
  padding-top: 50px;
}

.front-page .post-card .post-img,
.front-page .news-card .news-img {
  width: 75%;
  max-width: 500px;
}

.front-page .post-card .post-title,
.front-page .news-card .news-title {
  margin-bottom: 30px;

  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
}

.front-page .post-card .post-caption,
.front-page .news-card .news-caption {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 22px;
  color: #6e6e6e;
}

.front-page .post-card .read-more-link,
.front-page .news-card .read-more-link {
  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

.front-page .portfolio {
  background-color: #fcfcfc;
}

.front-page .portfolio .portfolio-image {
  position: relative;
}

.front-page .portfolio .see-all-link {
  position: absolute;
  right: 80px;
  bottom: 60px;

  color: #d7d7d6;
  text-transform: none;

  border-color: #d7d7d6;
}

.front-page .subscribe-form .form-title {
  margin-bottom: 70px;

  font-size: 30px;
  line-height: 50px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  text-transform: uppercase;
}

.front-page .subscribe-form .email-input {
  display: block;
  margin-bottom: 70px;
  padding-right: 15px;
  padding-left: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #888888;

  border: none;
}

.front-page .subscribe-form .email-input:placeholder-shown {
  color: #888888;
  text-transform: capitalize;
}

.front-page .reviews {
  background-color: #fdfdfd;
}

.front-page .reviews .section-header {
  margin-bottom: 30px;
}

.front-page .reviews-slider .review-card {
  background-color: transparent;
  border: none;
}

.front-page .review-card .author-wrapper {
  padding-top: 70px;

  text-align: center;
}

.front-page .review-card .review-img {
  max-width: 500px;
  margin-bottom: 50px;

  border-radius: 50%;
}

.front-page .review-card .review-author {
  margin-bottom: 0;

  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  text-align: center;
  color: #e3000b;
}

.front-page .review-card .card-body {
  padding: 0;
}

.front-page .review-card .review-text {
  margin-bottom: 25px;
  padding-right: 50px;
  padding-left: 75px;

  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

.front-page .review-card .card-body::before {
  content: "";
  position: relative;

  display: block;
  width: 100px;
  height: 90px;
  margin-bottom: 25px;
  margin-left: auto;

  background-image: url("../img/closing-quote.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.front-page .review-card .card-body::after {
  content: "";
  position: relative;

  display: block;
  width: 100px;
  height: 90px;

  background-image: url("../img/opening-quote.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.front-page .review-card .leave-feedback-link {
  position: absolute;
  z-index: 1;

  margin-top: 25px;
  margin-left: 75px;

  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

/* catalog-main.html, catalog-inner.html */
.catalog-page main,
.product-page main,
.blog-page main { /* TODO: в общие стили? */
  padding-top: 110px;
}

.catalog-page .page-header {
  margin-bottom: 150px;
}

.catalog-page .columns-wrapper {
  margin-bottom: -160px;
}

.catalog-navigation .dropdown-navigation-btn {
  position: relative;

  width: 100%;
  padding: 12px 70px 12px 15px;

  font-size: 24px;
  line-height: 34px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  text-align: initial;
  color: #ffffff;
  white-space: nowrap;

  background-color: #e3000b;
  border-radius: 0;
}

.catalog-navigation .dropdown-navigation-btn:disabled {
  opacity: 1;
}

.catalog-navigation .dropdown-navigation-btn::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 20px;

  width: 30px;
  height: 30px;

  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-navigation .navigation-menu {
  font-size: 22px;
  line-height: 28px;

  border: none;
  border-radius: 0;
}

.catalog-navigation .menu-item {
  position: relative;

  padding: 20px 60px 10px 20px;

  font-weight: 700;
}

.catalog-navigation .menu-item:not(:first-child) {
  border-top: 1px solid #f3f3f3;
}

.catalog-navigation .menu-item::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;

  width: 20px;
  height: 20px;

  background-image: url("../img/icon-menu-item.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-navigation .menu-item:hover {
  background-color: #f3f3f3;
}

.catalog-page .search-form {
  display: flex;
}

.search-form .search-input {
  flex: 1 1 100%;
  padding: 16px 30px 16px 75px;
  overflow: hidden;

  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #787878;

  border: none;
}

.search-form .search-input:placeholder-shown {
  color: #787878;
}

.catalog-page .search-form::before {
  content: "";
  position: absolute;

  width: 31px;
  height: 29px;
  margin-top: 15px;
  margin-left: 15px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-form .search-button {
  min-width: 200px;
  padding: 12px 15px;

  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;

  background-color: #e3000b;
  border: none;
}

.catalog-page .order-link {
  font-size: 24px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

.catalog-page .product-card {
  background-color: transparent;
  border: none;
}

.catalog-page .product-card .product-img {
  max-width: 200px;

  border-radius: 50%;
}

.catalog-page .product-card .product-title {
  margin-bottom: 20px;

  font-size: 22px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
}

.catalog-page .product-card .card-body {
  padding: 0;
  padding-left: 30px;
}

.catalog-page .product-card .product-caption {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 20px;
  color: #686868;
}

.catalog-page .product-card .product-price {
  margin-bottom: 15px;

  font-size: 22px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
}

.catalog-page .product-card .add-to-card-link,
.catalog-page .product-card .view-product-link {
  display: block;

  font-size: 22px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

.catalog-page .product-card .add-to-card-link {
  margin-bottom: 15px;
}

.catalog-page .product-card-wrapper {
  margin-bottom: 160px;
}
/* catalog-main.html, catalog-inner.html ends */

/* product.html */
.product-page .page-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.product-page .page-header .header {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 52px;
  font-family: inherit;
}

.product-page .page-header .return-link {
  margin-bottom: 20px;

  text-align: center;
}

.product-page .product-card-big {
  padding-top: 40px;
  padding-bottom: 70px;

  background-color: #fffefd;
  border: none;
}

.product-page .product-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;

  background-color: #ffffff;
}

.product-page .product-slider .product-img {
  max-width: 285px;
  margin-bottom: 65px;
}

.product-page .slider-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-page .slider-navigation .small-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;

  background-color: #f7f9fc;
}

.product-page .slider-navigation .small-img-container:not(:last-of-type) {
  margin-right: 15px;
}

.product-page .slider-navigation .product-small-img {
  max-width: 35px;
}

.product-page .slider-navigation .prev-image-btn,
.product-page .slider-navigation .next-image-btn {
  margin-right: 25px;
  margin-left: 25px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.product-page .slider-navigation .active-btn path {
  fill: #e61c26;
}

.product-page .slider-navigation .icon-left-arrow,
.product-page .slider-navigation .icon-right-arrow {
  width: 32px;
  height: 32px;
}

.product-page .product-card-big .product-info {
  padding: 70px 60px;
  padding-bottom: 0;
}

.product-page .product-card-big .product-availability {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 32px;
}

.product-page .product-card-big .vendor-code {
  margin-bottom: 30px;

  font-weight: 300;
  font-size: 22px;
}

.product-page .product-card-big .product-caption {
  margin-bottom: 60px;

  font-size: 24px;
}

.product-page .product-card-big .price-label {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 36px;
}

.product-page .product-card-big .product-price {
  margin-bottom: 40px;

  font-size: 46px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
}

.product-page .product-card-big .buy-product-button {
  padding: 10px 70px;

  font-size: 28px;
  line-height: 28px;
  text-transform: none;

  background-color: #e3000b;
  border-color: #e3000b;
}

.product-page .top-products {
  padding: 150px 0;
}

.product-page .columns-wrapper {
  margin-bottom: -160px;
}

.product-page .product-card {
  background-color: transparent;
  border: none;
}

.product-page .product-card .product-img {
  max-width: 200px;

  border-radius: 50%;
}

.product-page .product-card .product-title {
  margin-bottom: 20px;

  font-size: 22px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
}

.product-page .product-card .card-body {
  padding: 0;
  padding-left: 30px;
}

.product-page .product-card .product-caption {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 20px;
  color: #686868;
}

.product-page .product-card .product-price {
  margin-bottom: 15px;

  font-size: 22px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
}

.product-page .product-card .add-to-card-link,
.product-page .product-card .view-product-link {
  display: block;

  font-size: 22px;
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  color: #e3000b;
  text-decoration: underline;
}

.product-page .product-card .add-to-card-link {
  margin-bottom: 15px;
}

.product-page .product-card-wrapper {
  margin-bottom: 160px;
}
/* product.html ends*/

/* cart.html */
.cart-page main {
  padding: 100px 0;
}

.cart-page .cart-table thead {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.cart-page .cart-table th {
  padding-top: 32px;
  padding-bottom: 32px;
}

.cart-page .cart-table th,
.cart-page .cart-table td {
  border: 2px solid #e5e5e5;
  text-align: center;
  vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fffefd;
}

.cart-page .cart-table th.product {
  width: 40%;
}

.cart-page .cart-table th.color,
.cart-page .cart-table th.count,
.cart-page .cart-table th.amount {
  width: 20%;
}

.cart-page .cart-table .product-data {
  text-align: left;
  padding: 50px 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.cart-page .cart-table .product-img {
  max-width: 190px;
  padding: 25px;
}

.cart-page .cart-table .product-name {
  padding: 25px;
}

.cart-page .cart-table .product-color {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.cart-page .cart-table .product-count {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  line-height: 32px;
  border: 2px solid #e5e5e5;
  text-align: center;
  width: 90px;
  padding: 12px;
  -moz-appearance: textfield;
}

.cart-page .cart-table .product-count::-webkit-outer-spin-button,
.cart-page .cart-table .product-count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-page .cart-table .product-count:hover,
.cart-page .cart-table .product-count:focus {
  -moz-appearance: number-input;
}

.cart-page .cart-table .product-price {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}

.cart-page .cart-table .table-footer {
  height: 100px;
  text-align: right;
}

.cart-page .cart-table .total-amount {
  display: inline-block;
  font-weight: 500;
  font-size: 32px;
  margin: 10px;
}

.cart-page .total-amount .number {
  font-size: 40px;
  color: #ff3d03;
}

.cart-page .cart-table .continue-shopping-link {
  text-transform: none;
  color: black;
  border: 2px solid #111111;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}

.cart-page .cart-table .checkout-link {
  text-transform: none;
  background-color: #e3000b;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}
/* cart.html ends */

/* blog.html */
.blog-page .post-card {
  border: none;
  background-color: #fffefd;
  padding-top: 90px;
  padding-bottom: 90px;
}

.blog-page .post-card:not(:last-child) {
  margin-bottom: 90px;
}

.blog-page .post-title {
  font-family: "Gothgam Pro Black", "Arial Black", sans-serif;
  font-size: 43px;
  margin-bottom: 50px;
}

.blog-page .post-caption,
.blog-page .post-date {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 50px;
}

.blog-page .post-bottom {
  display: flex;
  justify-content: space-between;
}

/* blog.html ends */


